:root {
  --font-family-montserrat: "Montserrat", sans-serif;

  --color-main-background: radial-gradient(346.84% 165.81% at 50.49% -13.29%, #202020 0%, #101010 22.67%, #040404 100%);
  --color-black: black;
  --color-white: white;
  --color-gray: #666666;
  --color-orange: #fb6829;
}
